* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fbfbfb;
  font-family: "Inter", sans-serif;
}

.bg-color-white {
  background-color: white;
}

.header {
  background-color: white;
  padding: 16px 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  height: 50px;
  object-fit: contain;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.menu-item {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.menu-item:hover {
  color: #009035;
  text-decoration: underline;
}

.text-medium {
  font-size: 16px;
  font-weight: 500;
}

.main-btn {
  padding: 12px 20px;
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-btn:hover {
  background-color: #009035;
}

.hero-section {
  height: 90vh;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.early-access-section {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
}

.green-circle {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.green-text {
  color: #30b868;
}

.hero-title {
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.hero-subtitle {
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 35px;
}

.arrow-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.hero-button-section {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.box-btn {
  padding: 12px 20px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box-btn:hover {
  background-color: #6a6a6a;
}
.notes-section {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}
.subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}

.cards-container {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.card {
  width: 100%;
  height: 300px;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-section {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
}

.card-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 25px;
}
.solution {
  margin-top: -20px;
  z-index: 10;
  position: relative;
}
.solution-section {
  padding: 100px 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.solution-img-section {
  width: 100%;
  height: 100%;
}
.solution-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}
.solution-text-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.check-lists {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  list-style: none;
}
.check-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.check-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.check-text {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}

.ready-section {
  width: 90%;
  margin: 0 auto;
  padding: 80px 10px;
  background-color: #f7f6f2;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.main-btn-shadow{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
