* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fbfbfb;
  font-family: "Inter", sans-serif;
}

.bg-color-white {
  background-color: white;
}

.header {
  background-color: white;
  padding: 16px 0;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  height: 50px;
  object-fit: contain;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.menu-item {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.menu-item:hover {
  color: #009035;
  text-decoration: underline;
}

.text-medium {
  font-size: 16px;
  font-weight: 500;
}

.main-btn {
  padding: 12px 20px;
  background-color: #469165;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-btn:hover {
  background-color: #009035;
}

.hero-section {
  height: 90vh;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.early-access-section {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
}

.green-circle {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.green-text {
  color: #30b868;
}

.hero-title {
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.hero-subtitle {
  font-size: 18px;
  font-weight: 400;
  color: white;
  line-height: 35px;
}

.arrow-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.hero-button-section {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.box-btn {
  padding: 12px 20px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box-btn:hover {
  background-color: #6a6a6a;
}
